<html lang="en">
	<head>
		<title>Verify Your Account</title>
	</head>
	<body>
		<h3>Verify Your Account</h3>
		<p>Hi <b>{{name}}</b>, thanks for registering an account with us.</p>
		<p>Please verify your account by clicking the link
			<b><a href="{{link}}">verify your account</a></b>
		</p>
		<p>Kindly note that this link will be valid for the next 15 minutes only</p>
	</body>
</html>