<html lang="en">
	<head>
		<title>Welcome to MERN Invoice</title>
	</head>
	<body>
		<h3>Account Verified</h3>
		<p>Hi <b>{{name}}</b>, thanks for verifying your account.</p>
		<p>You can now click this link to
			<b><a href="{{link}}">Login to your account</a></b>
		</p>
		<p>Hope you find our service of value!</p>
	</body>
</html>